.yarl__carousel_with_slides,
.yarl__thumbnails_container,
.yarl__thumbnails_thumbnail {
  background-color: #16191d;
}

.react-photo-album {
  padding-top: 55px;
}

.yarl__thumbnails_vignette {
  display: none;
}

.react-photo-album--column img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  opacity: 97%;

  &:hover {
    transition: all 0.12s ease-in-out;
    opacity: 100%;
    scale: 1.007;
  }
}
