.yarl__navigation_next,
.yarl__navigation_prev {
  padding: 0 !important;
}

.yarl__navigation_next svg {
  position: relative;
  left: 5px;
}

.yarl__navigation_prev svg {
  position: relative;
  right: 5px;
}
